[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/UniswapV3Pack"]
	path = lib/UniswapV3Pack
	url = https://github.com/Nipol/UniswapV3Pack
